
#login{background-color: darkblue;
       height: 5%;
    width:100%;
}

#menu
{height: 15%;
 background-color: #25f10a ;
 width:100%;
top: 2%;
}

#conteudo
{background-color: rgb(240, 22, 203) ;
height:60%;
width:100%;
}

#rodape
{
    
    height: 20%;
    background-color: black;
    width:100%;
}
